.header {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height: 10vh;
  font-family: 'Press Start 2P', serif;
  background-color: #003699;
  text-align: center;
}

.title {
  color: white;
  padding: 3vh;
}
